<p>
  dynamic-form works!
</p>

<!-- Master form -->
<form [formGroup]="demoForm">
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th></th>
      </tr>
    </thead>
    <tbody formArrayName="itemDetails">
      <tr *ngFor="let item of mock; let $index=index" [formGroupName]="$index">
        <td>
            <input type="text" placeholder="Name" formControlName="name" />
        </td>
        <td>
          <input type="text" placeholder="Age" formControlName="age" />
        </td>
        <td>
          <input type="text" placeholder="Gender" formControlName="sex" />
        </td>
        <td><button type="button" (click)="onAdd($index)">Add</button></td>
      </tr>
    </tbody>
  </table>
</form>
